In [96]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('240620/train.csv')
test_df = pd.read_csv('240620/test.csv')
print(train_df.shape)
print(test_df.shape)
train_df.fillna(0, inplace=True)
test_df.fillna(0, inplace=True)

(58973, 188)
(25989, 188)

In [97]:
train_df.describe()

,id,label,friendCount,subscriberCount,currentLocationLocationId,currentLocationLatitude,currentLocationLongitude,homeTownLocationId,homeTownLatitude,homeTownLongitude,...,I_numOrg,I_numQuery,B_numOrg,B_numQuery,XL_numOrg,XL_numQuery,summary_6m,summary_3m,summary_1m,summary_1w
count,58973.000000,58973.000000,58973.000000,58973.000000,5.897300e+04,58973.000000,58973.000000,5.897300e+04,58973.000000,58973.000000,...,58973.0,58973.0,58973.0,58973.0,58973.0,58973.0,58973.00000,58973.000000,58973.000000,58973.000000
mean,29486.000000,0.330931,206.700287,74.325759,2.787420e+13,3.959789,25.721752,2.518219e+13,3.693847,23.614394,...,0.0,0.0,0.0,0.0,0.0,0.0,5.50730,4.947451,3.375714,1.444220
std,17024.183049,0.470552,688.252231,1246.634086,5.292541e+13,7.549158,45.891799,4.926905e+13,7.336012,44.418433,...,0.0,0.0,0.0,0.0,0.0,0.0,8.47238,8.013730,7.025323,4.447539
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,-37.815600,-122.419000,0.000000e+00,-36.866700,-122.331000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000
25%,14743.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.00000,0.000000,0.000000,0.000000
50%,29486.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,3.00000,3.000000,2.000000,0.000000
75%,44229.000000,1.000000,3.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,8.00000,8.000000,5.000000,2.000000
max,58972.000000,1.000000,5000.000000,174916.000000,1.557857e+15,59.524100,171.383000,1.497821e+15,58.216700,151.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,810.00000,800.000000,791.000000,781.000000

In [98]:
test_df.describe()

,id,label,friendCount,subscriberCount,currentLocationLocationId,currentLocationLatitude,currentLocationLongitude,homeTownLocationId,homeTownLatitude,homeTownLongitude,...,I_numOrg,I_numQuery,B_numOrg,B_numQuery,XL_numOrg,XL_numQuery,summary_6m,summary_3m,summary_1m,summary_1w
count,25989.000000,25989.0,25989.000000,25989.000000,2.598900e+04,25989.000000,25989.000000,2.598900e+04,25989.000000,25989.000000,...,25989.0,25989.0,25989.0,25989.0,25989.0,25989.0,25989.000000,25989.000000,25989.000000,25989.000000
mean,71967.000000,0.0,284.305629,92.424987,3.213190e+13,4.568371,29.908065,2.912228e+13,4.266453,27.428532,...,0.0,0.0,0.0,0.0,0.0,0.0,7.591481,6.433299,4.132056,1.684059
std,7502.522409,0.0,810.266080,1140.713706,5.423007e+13,7.897720,48.152266,5.139402e+13,7.704590,46.749744,...,0.0,0.0,0.0,0.0,0.0,0.0,12.062960,11.188012,9.247505,4.637302
min,58973.000000,0.0,0.000000,0.000000,0.000000e+00,-36.847300,-122.419000,0.000000e+00,-33.867500,-121.298000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,65470.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,71967.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,5.000000,4.000000,2.000000,0.000000
75%,78464.000000,0.0,54.000000,0.000000,1.060097e+14,10.770000,105.687000,1.039346e+14,9.768890,104.871000,...,0.0,0.0,0.0,0.0,0.0,0.0,11.000000,9.000000,6.000000,2.000000
max,84961.000000,0.0,5000.000000,145834.000000,4.484432e+14,60.000000,174.766000,4.484432e+14,55.752200,151.208000,...,0.0,0.0,0.0,0.0,0.0,0.0,788.000000,788.000000,788.000000,240.000000

In [99]:
train_df['sex'] = train_df['sex'].replace({0: "unknown"})
test_df['sex'] = test_df['sex'].replace({0: "unknown"})
train_df['sex'].head(10)

0    unknown
1       male
2     female
3     female
4    unknown
5     female
6    unknown
7     female
8    unknown
9       male
Name: sex, dtype: object

In [100]:
dummy_sex = pd.get_dummies(train_df['sex'])
dummy_sex_test = pd.get_dummies(test_df['sex'])
print(dummy_sex.head())
train_df = pd.concat([train_df, dummy_sex], axis=1)
test_df = pd.concat([test_df, dummy_sex_test], axis=1)

   female  male  unknown
0       0     0        1
1       0     1        0
2       1     0        0
3       1     0        0
4       0     0        1

In [101]:
print(train_df['friendCount'].head(10))

0       0.0
1     228.0
2    1506.0
3    1506.0
4       0.0
5     209.0
6       0.0
7       0.0
8       0.0
9     161.0
Name: friendCount, dtype: float64

In [102]:
train_df['relationshipStatus'] = train_df['relationshipStatus'].replace({0: 'unknown'})
test_df['relationshipStatus'] = test_df['relationshipStatus'].replace({0: 'unknown'})

In [103]:
import json
import ast
def education_level(col):
    edu_list = []
    if col:
        col = ast.literal_eval(col)
        for i in col:
            edu_list.append(i['schoolType'])
    return len(edu_list)
train_df['education_list'] = train_df['educations'].apply(education_level)
test_df['education_list'] = test_df['educations'].apply(education_level)
train_df = train_df.drop(['educations'], axis=1)
test_df = test_df.drop(['educations'], axis=1)

In [104]:
# Family count relationship
def family_count(col):
    count = 0
    if col:
        col = ast.literal_eval(col)
        count = len(col)
    return count
train_df['families_count'] = train_df['families'].apply(family_count)
test_df['families_count'] = test_df['families'].apply(family_count)

In [113]:
from collections import defaultdict
from sklearn import preprocessing
d = defaultdict(preprocessing.LabelEncoder)
train_df = train_df.apply(lambda x: d[x.name].fit_transform(x.astype(str)) if x.dtype =='object' else x)
test_df = test_df.apply(lambda x: d[x.name].fit_transform(x.astype(str)) if x.dtype =='object' else x)
y = train_df['label']
X = train_df.drop(columns=['label'], axis=1)
X_pred = test_df
print(X.shape, X_pred.shape)
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X, y)
X_pred_id = X_pred['id']
X_pred.drop(columns=['id'], inplace=True)
y_red = clf.predict_proba(X_pred.values)[:,1]
res_df = pd.DataFrame({'id': X_pred_id, 'label': y_red})
res_df.to_csv('k2_submit.csv', index=False)

(58973, 191) (25989, 192)

In [84]:
print(X.dtypes)

id                      int64
friendCount           float64
interests              object
relationshipStatus     object
sex                    object
                       ...
female                  uint8
male                    uint8
unknown                 uint8
education_list         object
families_count          int64
Length: 191, dtype: object

In [82]:
print(X.head(10))

   id  friendCount                                  interests  \
0   0          0.0                                          0
1   1        228.0  Phụ nữ lớn tuổi quyến rũ, hấp dẫn
2   2       1506.0                                          0
3   3       1506.0                                          0
4   4          0.0                                          0
5   5        209.0                                          0
6   6          0.0                                          0
7   7          0.0                                          0
8   8          0.0                                          0
9   9        161.0                                          0

  relationshipStatus      sex  subscriberCount  currentLocationLocationId  \
0            unknown  unknown              0.0               0.000000e+00
1            unknown     male              0.0               1.117116e+14
2            unknown   female              0.0               0.000000e+00
3            unknown   female              0.0               0.000000e+00
4            unknown  unknown              0.0               0.000000e+00
5            unknown   female              0.0               0.000000e+00
6            unknown  unknown              0.0               0.000000e+00
7            unknown   female              0.0               0.000000e+00
8            unknown  unknown              0.0               0.000000e+00
9            unknown     male              0.0               0.000000e+00

   currentLocationLatitude  currentLocationLongitude  homeTownLocationId  ...  \
0                   0.0000                     0.000        0.000000e+00  ...
1                  16.0678                   108.221        1.117116e+14  ...
2                   0.0000                     0.000        0.000000e+00  ...
3                   0.0000                     0.000        0.000000e+00  ...
4                   0.0000                     0.000        0.000000e+00  ...
5                   0.0000                     0.000        0.000000e+00  ...
6                   0.0000                     0.000        0.000000e+00  ...
7                   0.0000                     0.000        0.000000e+00  ...
8                   0.0000                     0.000        0.000000e+00  ...
9                   0.0000                     0.000        1.123338e+14  ...

   XL_numQuery  summary_6m summary_3m summary_1m summary_1w female male  \
0          0.0         1.0        1.0        0.0        0.0      0    0
1          0.0        10.0        7.0        7.0        5.0      0    1
2          0.0        13.0       10.0        1.0        0.0      1    0
3          0.0        13.0       10.0        1.0        0.0      1    0
4          0.0         7.0        5.0        3.0        0.0      0    0
5          0.0         5.0        5.0        5.0        0.0      1    0
6          0.0        13.0       11.0        5.0        4.0      0    0
7          0.0         1.0        1.0        1.0        1.0      1    0
8          0.0         6.0        6.0        6.0        6.0      0    0
9          0.0         8.0        7.0        2.0        0.0      0    1

  unknown education_list families_count
0       1             []              0
1       0  [High School]              0
2       0             []              0
3       0             []              0
4       1             []              0
5       0             []              0
6       1             []              0
7       0             []              0
8       1             []              0
9       0             []              0

[10 rows x 191 columns]